{% extends 'base.html' %}

{% block title %}
    {{ board.name }}
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        <a href='{% url 'boardsHome' %}'>Home</a>
    </li>
    <li class='breadcrumb-item active'>{{ board.name }}</li>
{% endblock breadcrumb %}

{% block content %}
    <div class='mb-4'>
        <a href='{% url 'newTopic' board.pk %}' class = 'btn btn-primary'>Create New Topic</a>
    </div>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Topics</th>
                <th>Description</th>
                <th>Starter</th>
                <th>Last Update</th>
                <th>No of Posts</th>
                <th>Views</th>
            </tr>
        </thead>
        <tbody>
            {% for topic in page_obj %}
                <tr>
                    <td><a href='{% url 'postsList' pk=topic.board.pk pk2=topic.pk %}'>{{ topic.name }}</a></td>
                    <td>{{ topic.description }}</td>
                    <td>{{ topic.starter.username }}</td>
                    <td>
                        {% with post=topic.getLastPost %}
                            {% if post %}
                                <small class="text-muted">
                                    <a href="{% url 'postsList' topic.board.pk topic.pk %}" style="text-decoration:none">
                                        by {{ post.created_by.username }} at {{ post.created_at }}
                                    </a>
                                <small/>
                            {% else %}
                                <small class="text-muted">No posts yet</small>
                            {% endif %}
                        {% endwith %}
                    </td>
                    <td>{{ topic.post_set.count }}</td>
                    <td> {{ topic.viewCount }} </td>
                </tr>                    
            {% endfor %}
        </tbody>
    </table>

    {% include 'boards/includes/paginated.html' %}
{% endblock content %}