{% extends 'base.html' %}

{% block breadcrumb %}
<li class='breadcrumb-iten'>Password Changed</li>
{% endblock breadcrumb %}

{% block content %}

<div class='container col-lg-4 col-md-6 col-sm-8'>
    <div class='card'>
        <div class='card-body'>
            <p class='alert alert-success'>Your Password has been successfully changed, you can now login with the new password</p>
            <a class='btn btn-success btn-block' href="{% url 'boardsHome' %}">Return to Home</a>
        </div>
    </div>
</div>
{% endblock content %}